{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}MalScan{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'scanner/css/app.css' %}"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<header class="topbar">
    <div class="container">
        <a class="brand" href="{% url 'scanner:home' %}"><img src="{% static 'scanner/logo.png' %}" width="180px"
                                                              height="75px" alt=""></a>
        <nav class="nav">
            <a href="/scan/">Проверка</a>
            <a href="/history/">История</a>
        </nav>
    </div>
</header>

<main class="container">
    {% block content %}{% endblock %}
</main>

<footer class="footer">
    <div class="container">
        <span>Open-source статический анализатор • EMBERv3 (thrember) • расширяемые форматы</span>
    </div>
</footer>

<script src="{% static 'scanner/static/js/app.js' %} "></script>
{% block scripts %}{% endblock %}
</body>
</html>