{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}MalScan{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'scanner/css/app.css' %}"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<header class="topbar">
    <div class="container">
        <a class="brand" href="{% url 'scanner:home' %}"><img src="{% static 'scanner/logo.png' %}" width="180px"
                                                              height="75px" alt=""></a>
        <nav class="nav">
            <a href="{% url 'scanner:upload' %}">Проверка</a>
            <a href="{% url 'scanner:history' %}">История</a>

            {% if user.is_authenticated %}
                {#                <span class="nav-user">👤 {{ user.username }}</span>#}
                {#                <a href="{% url 'scanner:logout' %}">Выйти</a>#}
                <div class="profile" id="profileMenu">
                    <button class="profile-btn" type="button">
                        <span class="avatar">{{ user.username|first|upper }}</span>
                        <span class="pname">{{ user.username }}</span>
                        <span class="chev">▾</span>
                    </button>

                    <div class="profile-dd">
                        <a href="{% url 'scanner:history' %}">Мои результаты</a>
                        <a href="{% url 'scanner:logout' %}">Выйти</a>
                    </div>
                </div>
            {% else %}
                <a class="btn small" href="{% url 'scanner:login' %}">Войти</a>
            {% endif %}
        </nav>
    </div>
</header>

<main class="container">
    {% block content %}{% endblock %}
</main>

<footer class="footer">
    <div class="container footer-inner">
        <span>Open-source malware analysis platform powered by EMBERv3 (thrember) and machine learning models.</span>
        <div class="footer-links">
            <a href="{% url 'scanner:privacy' %}">Privacy Policy</a>
            <a href="{% url 'scanner:terms' %}">Terms of Service</a>
        </div>
    </div>
</footer>

<script src="{% static 'scanner/static/js/app.js' %} "></script>

{% block scripts %}{% endblock %}
</body>
</html>